OLLAMA_BASE_URL=http://localhost:11434
DO_NOT_TRACK="true"
OPEN_WEBUI_BASE_URL=http://localhost:8080
SEARXNG_BASE_URL=http://localhost:8081
WEBUI_SECRET_KEY=secret-key

ENABLE_RAG_WEB_SEARCH=True
RAG_WEB_SEARCH_ENGINE=searxng
RAG_WEB_SEARCH_RESULT_COUNT=3
RAG_WEB_SEARCH_CONCURRENT_REQUESTS=10
SEARXNG_QUERY_URL=http://searxng:8080/search?q=<query>&format=json