OLLAMA_BASE_URL=http://localhost:11434
DO_NOT_TRACK="true"
# Get a token from: https://huggingface.co/settings/tokens
HF_TOKEN=
OPEN_WEBUI_BASE_URL=http://localhost:8080
SEARXNG_BASE_URL=http://localhost:8081

# Open WebUI Web Search (SearXNG)
ENABLE_RAG_WEB_SEARCH=True
RAG_WEB_SEARCH_ENGINE=searxng
RAG_WEB_SEARCH_RESULT_COUNT=3
RAG_WEB_SEARCH_CONCURRENT_REQUESTS=10
SEARXNG_QUERY_URL=http://127.0.0.1:8081/search?q=<query>&format=json